.App {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
}

.table {
  width: 80%;
  border: 1px solid gray;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table td, .table th {
  border: 1px solid gray;
  padding: 5px;
}

.button-wrapper {
  display: block;
}

.button-wrapper button {
  margin: 10px;
}

.search {
  display: flex;
  margin-bottom: 20px;
}
